.nav {
  margin: auto;
  display: flex;
}
.nav__logo {
  margin-left: 30px;
  height: 39px;
  width: 105px;
  margin-top: 30px;
}

.nav__link {
  list-style: none;
  margin: auto;
  column-gap: 20px;
  padding: 0;
  display: flex;
  margin-right: 80px;
  margin-top: 30px;
}

.nav__links:hover {
  color: #2f80ed !important;
}

.nav__links {
  text-decoration: none;
  color: #000000;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
