.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif, "Noto serif", "Times New Roman",
    Times, serif;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
}

.header {
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  height: 568px;
  width: 646px;
}

.nav {
  margin: auto;
  display: flex;
}

.header__title {
  max-width: 709px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
  margin-top: 183px;
  margin-left: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav__logo {
  margin-left: 30px;
  height: 39px;
  width: 105px;
  margin-top: 30px;
}

.nav__link {
  list-style: none;
  margin: auto;
  column-gap: 20px;
  padding: 0;
  display: flex;
  margin-right: 80px;
  margin-top: 30px;
}

.nav__links {
  text-decoration: none;
  color: #000000;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
  margin-bottom: 25px;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  max-width: 683px;
  margin-top: 28px;
}

.header__footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  display: flex;
  align-content: flex-end;
}

.header__schedules {
  position: absolute;
  bottom: 40px;
  left: 80px;
  line-height: 10px;
}

.header__footer_list {
  row-gap: 0;
}
.header__paragraph {
  bottom: 40px;
  right: 40px;
}

.header__address {
  position: absolute;
  right: 80px;
  bottom: 40px;
}
.content {
  background-image: url(/images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a2750;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  max-width: 580px;
  padding-top: 120px;
  margin-left: 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding-top: 24px;
  margin-left: 80px;
  max-width: 438px;
  padding-bottom: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
}

.recipes__video-item {
  display: flex;
  border-radius: 0%;
  column-gap: 40px;
  padding-bottom: 24px;
}

.recipes__iframe {
  border-radius: 0%;
}

.recipes__video-caption {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}

.recipes__video-caption_description {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 215px;
  position: relative;
  left: -70px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  margin-bottom: 0;
}
.form {
  display: flex;
  justify-content: center;
}

.reservation__form {
  margin-top: 80px;
  margin-bottom: 120px;
  max-width: 385px;
}

.form_fieldset {
  border: none;
}

.form__input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  line-height: 60px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 32px;
  margin-top: 8px;
  padding-left: 20px;
  padding-right: 15px;
}
.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button {
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
  max-width: 385px;
  height: 60px;
  background-color: #2f80ed;
  box-sizing: border-box;
  width: 100%;
  color: #ffffff;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  display: flex;
}

.form__label_checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  gap: 12px;
}
